<h2>{{myData.Username}}'s User Profile</h2>
<div fxLayoutAlign="center top" fxFlexFill>
  <!--Align to center-->
  <div fxFlex="400px">
    <!--Nested element together-->

    <table mat-table>
      <tr class="headerrow">
        <td colspan="3">Profile Picture</td>
      </tr>
      <tr>
        <td colspan="3">
          <img
            src="{{ myData.ProfilePic }}"
            alt="random profile picture"
            height="100"
          />
        </td>
      </tr>
      <tr class="headerrow">
        <td>Username</td>
        <td>Name</td>
        <td>Troops</td>
      </tr>
      <tr>
        <td>{{ myData.Username }}</td>
        <td>{{ myData.FirstName }} {{ myData.LastName }}</td>
        <td>{{ myData.TroopCount }}</td>
      </tr>
    </table>
    <div style="margin: 30px 0 0 0">
      <!-- <button routerLink="/" type="button" mat-raised-button>
          Edit Profile
        </button> -->
    </div>
  </div>
</div>
