<form [formGroup]="transactionForm">

  <mat-form-field appearance="fill">
    <mat-label>Enter Receiver ID</mat-label>
    <input matInput  type="number" formControlName="to">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <button mat-stroked-button (click)="transacationProcess()">Send</button>
</form>


<br>

<!-- buy troop-->
<form [formGroup]="buyTroopForm">

  <mat-form-field appearance="fill">
    <mat-label>curerent userID</mat-label>
    <input matInput  type="number" formControlName="userID">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>number of Troop</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="numOfTroop">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>

  <button mat-stroked-button (click)="buyTroopProcess()">Send</button>
</form>



<!--show transaction record-->
<br>
<button mat-stroked-button (click)="showTransactionRecord()">show Record</button>
<p>Sender Account ID  : $Amount</p>
<div *ngFor="let record of records | keyvalue" >
  <mat-selection-list>
    <button mat-stroked-button>{{record.value['Item1']}}</button> 
    <button mat-stroked-button>${{record.value['Item2']}}</button>
  </mat-selection-list>
</div>

<br>
