<mat-toolbar>Minion Management System</mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill> <!--Align to center-->
    <mat-card fxFlex="25"> <!--Nested element together-->
    <h1>New User Registration</h1>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registerFrom">
        <mat-form-field appearance="fill">
          <mat-label>New UserName</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

        <button mat-raised-button="submit" color="primary" (click)="registerProcess()">COMFIRM</button>
        <br>
    </form>
  </mat-card>
</div>