<div fxLayoutAlign="center center" fxFlexFill> <!--Align to center-->
    <mat-card fxFlex="25"> <!--Nested element together-->
    <h1>Welcome</h1>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginFrom">
        <mat-form-field appearance="fill">
          <mat-label>UserName</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

        <button mat-raised-button="submit" color="primary" (click)="loginProcess()">LOGIN</button>
        <br>
        <button mat-raised-button="submit" color="primary" routerLink="register">REGISTER</button>
    </form>
  </mat-card>
</div>