<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Minion Master</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a routerLink="/account" class="nav-link">Accounts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/transactions" class="nav-link"
            >Transactions</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/raid" class="nav-link">Raid</a>
        </li>
      </ul>

      <ul class="d-flex navbar-nav">
        <!-- <li *ngif="sessionStorage.getItem('token') != null"><img src="{{myData.ProfilePic}}" alt="random profile picture" height="40"/></li> -->
        <li class="nav-item">
          <a routerLink="userprofile"  class="nav-link"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <button type="button" (click)="logout()" class="txttop">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
