table {
    border-bottom: 1px solid gray;
  }
  
  td {
    padding: 10px 30px 10px 0;
    /* border-left: 1px solid gray;
      border-right: 1px solid gray; */
    vertical-align: bottom;
    text-align: right;
  }
  
  tr.headerrow {
    border-bottom: 1px solid gray;
  }
  
  .headerrow td {
    vertical-align: bottom;
    text-align: left;
    font-weight: 600;
  }